@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {background: #456;font-family: 'Open Sans', sans-serif;}
.login { width: 400px;margin:100px auto;font-size: 16px;}
.login img { width: 40px; height: 40px; margin:0px 0px 0px 0px; align:left;}
/* Reset top and bottom margins from certain elements */
.login-header,.login p { margin-top: 0;margin-bottom: 0;}
/* The triangle form is achieved by a CSS hack */
.login-header {background: #28d;padding: 20px;font-size: 1.4em;font-weight: normal;text-align: center;text-transform: uppercase;color: #fff; }
.login-container {background: #ebebeb;padding: 12px;}
/* Every row inside .login-container is defined with p tags */
.login p {padding: 12px;}
.login input {box-sizing: border-box;display: block;width: 100%;border-width: 1px;border-style: solid;padding: 16px;outline: 0;font-family: inherit;font-size: 0.95em;}
.login input[type="email"],.login input[type="password"] {background: #fff;border-color: #bbb;color: #555;}
/* Text fields' focus effect */
.login input[type="email"]:focus, .login input[type="password"]:focus {  border-color: #888;}
.login input[type="submit"] {background: #28d;border-color: transparent;color: #fff;cursor: pointer;}
.login input[type="submit"]:hover {background: #17c;}
/* Buttons' focus effect */
.login input[type="submit"]:focus {border-color: #05a;}
@media all and (max-width:450px){
.login {width: 95%;}
}


.well {
    background-color: rgba(50, 50, 50, .6);
    height: 450px;
    margin-top:50px;
    color:white;
    border:none;
}

.table-scroll tbody {
    position: absolute;
    overflow-y: scroll;
    height: 300px;
}

.table-scroll tbody tr:hover {
  	background-color: rgba(15, 12, 109, .5);
}

.selected{
	background-color: rgba(175, 18, 18, 0.49);
}

#requestform{
	color:white;
}


.table-scroll tr {
    width: 100%;
    table-layout: fixed;
    display: inline-table;
}

.table-scroll thead > tr > th {
    border: none;

}

.table-scroll{
	height:210px;
}

.btn-primary{
	background-color: #28d;
}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

#namebox{
	height:210px;
}

#formbox{
	height:290px;
}

#change{
	display:none;
}

#pass{
	display:none;
}

#userbox{
	height: 300px;
}

#reimbox{
	height: 300px;
}

#newU{
	display: none;
}

#addSuc{
	display:none;
}

#usertab tbody{
	height:150px;
}

#reimtab tbody{
	height:150px;
}

#reimz{
	height: 380px;
}

#viewU{
	display:none;
}

