<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Project 1</display-name>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.revature.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.revature.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployeePending</servlet-name>
		<servlet-class>com.revature.servlet.EmployeePendingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeePending</servlet-name>
		<url-pattern>/EmployeePending</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Submit</servlet-name>
		<servlet-class>com.revature.servlet.SubmitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Submit</servlet-name>
		<url-pattern>/Submit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Resolve</servlet-name>
		<servlet-class>com.revature.servlet.ResolveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resolve</servlet-name>
		<url-pattern>/Resolve</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Profile</servlet-name>
		<servlet-class>com.revature.servlet.ProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/Profile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ERView</servlet-name>
		<servlet-class>com.revature.servlet.ERServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ERView</servlet-name>
		<url-pattern>/ERView</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MRView</servlet-name>
		<servlet-class>com.revature.servlet.MRServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MRView</servlet-name>
		<url-pattern>/MRView</url-pattern>
	</servlet-mapping>
</web-app>