<div class="container" class="row">
	<div class="col-sm-4">
		<input type="text" ng-model="favoriteColor"
			placeholder="start typing here" /> <br />
		<p ng-bind="favoriteColor"></p>
		<br />
		<!-- let's do expression with numerics -->
		<p>This does math:{{5+5}}</p>
		<p>This doesn't:{{'5'+'5'}}</p>
	</div>
	<div class="col-sm-4">
		New name: <input ng-model="newFirstName"> <br>
		<h3 ng-click="changeName(newFirstName)">Change name</h3>
		<h1>{{firstName}}</h1>
		<ul ng-mousemove="myFunc($event)">
			<li ng-repeat="person in people">{{person.name+',
				'+person.state}}</li>
		</ul>
		<p>Coordinates: {{x + ', ' + y}}</p>
		<p>Favorite color of demoCtrl scope:</p>
		<p>{{favoriteColor}}</p>
	</div>
	<div class="col-sm-4">
		<h3>Cost Calculator:</h3>
		<div ng-init="quantity=1;price=5">
			Quantity:<input type="number" ng-model="quantity"><br>
			Price:<input type="number" ng-model="price"><br> Total
			in dollars: {{quantity*price}}
		</div>

		<h3>Set background color</h3>
		<div ng-init="backgroundColor=lightBlue">
			<input style="background-color: {{backgroundColor"
				ng-model="backgroundColor" value="{{backgroundColor}}">
		</div>

		<div ng-init="mySwitch = true">
			<p>
				<button ng-disabled="mySwitch">Click me!</button>
			</p>
			<p>
				<input type="checkbox" ng-model="mySwitch">Control button
			</p>
			<p>{{mySwitch}}</p>
		</div>
	</div>

</div>
</div>