<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>JSPProject1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.revature.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRequests</display-name>
    <servlet-name>GetRequests</servlet-name>
    <servlet-class>com.revature.servlets.GetRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequests</servlet-name>
    <url-pattern>/GetRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeRequest</display-name>
    <servlet-name>MakeRequest</servlet-name>
    <servlet-class>com.revature.servlets.MakeRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeRequest</servlet-name>
    <url-pattern>/MakeRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveOrDenyRequest</display-name>
    <servlet-name>ApproveOrDenyRequest</servlet-name>
    <servlet-class>com.revature.servlets.ApproveOrDenyRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveOrDenyRequest</servlet-name>
    <url-pattern>/ApproveOrDenyRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateEmp</display-name>
    <servlet-name>CreateEmp</servlet-name>
    <servlet-class>com.revature.servlets.CreateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEmp</servlet-name>
    <url-pattern>/CreateEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmps</display-name>
    <servlet-name>ViewEmps</servlet-name>
    <servlet-class>com.revature.servlets.ViewEmps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmps</servlet-name>
    <url-pattern>/ViewEmps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfile</display-name>
    <servlet-name>UserProfile</servlet-name>
    <servlet-class>com.revature.servlets.UserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfile</servlet-name>
    <url-pattern>/UserProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPersonalRequests</display-name>
    <servlet-name>GetPersonalRequests</servlet-name>
    <servlet-class>com.revature.servlets.GetPersonalRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPersonalRequests</servlet-name>
    <url-pattern>/GetPersonalRequests</url-pattern>
  </servlet-mapping>
</web-app>