@CHARSET "ISO-8859-1";

/* Container */
.contain {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.contain a, p{
    float: left;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Dropdown Button */
.dropbtn {
    float: left;
    height: 50px;
    width: 50px;
    margin: 2px 10px 1px 10px;
    background-color: white;
    overflow: hidden;
}

.dropdwn{
    font-size: 14px;    
    border: none;
    outline: none;
    color: black;
    width: 100%;
    padding: 14px 6px;
    text-align: center;
    background-color: white;
}

.dropdwn:hover .dropbtn {
    background-color: red;
}

.dropdown-cont {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-cont a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-cont p {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-cont a:hover {
    background-color: #ddd;
}

.dropdwn:hover .dropdown-cont {
    display: block;
}
}