body {
	background-image: URL("world.jpg");
}

.banner{
	border: 3px solid red;
	position: relative;
	width: 100%;
	height: 60;
	background-color: firebrick;
	
}

.outer{
	margin: 10% 10% 10% 10%;
	width: 90%;
	height: 40%;
	position: relative;
	text-align:center;
}

.inner{
	border: 3px solid red;
	background-color: gray;
	margin: 1% 0% 1% 0%;
	height: 10px;
	width: 100%;
	overflow-y: scroll;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

table {
  height: 200px;
  overflow-y: scroll;
}

tr.format{
	border:1px solid firebrick;
	margin:0% 0% 0% 0%;
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#userRow:hover{
	background-color:red;
}

.forms{
	border: 3px solid red;
	left: 40%;
	height: 50;
	width: 20%;
	position: relative;
	text-align:center;
}

/*
	a css rule set consists of: a selector and a declaration block
	within the declaration blcok are ;-delimited property/value pairs
	selector points to the element you want to style
	element selector: selects based on element name
	id selector: uses the id attribute of an html element
	(element id should be unique to the page)
	(use # to specify)
	class selector: selects elements with a specific class attribute
*/


p.orSignup{
	font-size:5%;
	text-align: left;
	color: red;
}
