<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletDemo</display-name>
  <servlet>
  <servlet-name>helloworld</servlet-name>
  <servlet-class>com.revature.servlet.HelloWorldServlet</servlet-class>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>helloworld</servlet-name>
    <url-pattern>/hello.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>login</servlet-name>
  <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>login</servlet-name>
  <url-pattern>/LoginResult.html</url-pattern>
  
  </servlet-mapping>

<servlet>
<servlet-name>redirectForward</servlet-name>
<servlet-class>com.revature.servlet.RedirectForwardServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>redirectForward</servlet-name>
<url-pattern>/redFor</url-pattern>

</servlet-mapping>

</web-app>