<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SCU</display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.revature.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createAccount</servlet-name>
    <servlet-class>com.revature.servlets.CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createAccount</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.revature.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>accountView</servlet-name>
    <servlet-class>com.revature.servlets.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accountView</servlet-name>
    <url-pattern>/accountview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>depositAccount</servlet-name>
    <servlet-class>com.revature.servlets.DepositServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>depositAccount</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>withdrawAccount</servlet-name>
    <servlet-class>com.revature.servlets.WithdrawServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdrawAccount</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteAccount</servlet-name>
    <servlet-class>com.revature.servlets.AccountDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAccount</servlet-name>
    <url-pattern>/deleteaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteUser</servlet-name>
    <servlet-class>com.revature.servlets.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUser</servlet-name>
    <url-pattern>/deleteuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateUser</servlet-name>
    <servlet-class>com.revature.servlets.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUser</servlet-name>
    <url-pattern>/updateuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>userView</servlet-name>
    <servlet-class>com.revature.servlets.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userView</servlet-name>
    <url-pattern>/userview</url-pattern>
  </servlet-mapping>
</web-app>