<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.username">master</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@hibernate-demo.cgbbs6xdwjwh.us-west-2.rds.amazonaws.com:1521:orcl</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
		<!--  property name="hibernate.show_sql"></property> -->
		<!-- this creates our db. set it to update (or nothing) if db exists -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		
		<!-- map domains -->
		<mapping class="one.to.many.Beehive"/>
		<mapping class="one.to.many.Cave"/>
		<mapping class="one.to.many.Bear"/>
		<mapping class="one.to.many.Bat"/>
		<mapping class="one.to.many.Animal"/>
	</session-factory>
</hibernate-configuration>