<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BankingApp</display-name>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.Revature.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showAccts</servlet-name>
    <servlet-class>com.Revature.servlet.ShowAccts</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showTrans</servlet-name>
    <servlet-class>com.Revature.servlet.ShowTrans</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delAcct</servlet-name>
    <servlet-class>com.Revature.servlet.DelAcct</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>creAcct</servlet-name>
    <servlet-class>com.Revature.servlet.CreAcct</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addFunds</servlet-name>
    <servlet-class>com.Revature.servlet.AddFunds</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>subFunds</servlet-name>
    <servlet-class>com.Revature.servlet.SubFunds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delAcct</servlet-name>
    <url-pattern>/delAcct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addFunds</servlet-name>
    <url-pattern>/addFunds</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>subFunds</servlet-name>
    <url-pattern>/subFunds</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>creAcct</servlet-name>
    <url-pattern>/creAcct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showAccts</servlet-name>
    <url-pattern>/showAccts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showTrans</servlet-name>
    <url-pattern>/showTrans</url-pattern>
  </servlet-mapping>
</web-app>