<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WeekThreeBankChallenge</display-name>
  <servlet>
    <servlet-name>lin</servlet-name>
    <servlet-class>com.revature.login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>linRedirect</servlet-name>
    <servlet-class>com.revature.login.LoginRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>linRedirect</servlet-name>
    <url-pattern>/loginRed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lout</servlet-name>
    <servlet-class>com.revature.login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeAcctBalance</servlet-name>
    <servlet-class>com.revature.login.ChangeAcctBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeAcctBalance</servlet-name>
    <url-pattern>/changeBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewAccts</servlet-name>
    <servlet-class>com.revature.login.ViewAllAccts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewAccts</servlet-name>
    <url-pattern>/myAccounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createUsr</servlet-name>
    <servlet-class>com.revature.login.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createUsr</servlet-name>
    <url-pattern>/createUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createAcct</servlet-name>
    <servlet-class>com.revature.login.CreateBankAcct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createAcct</servlet-name>
    <url-pattern>/createAccount</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>switchAccount</servlet-name>
  	<servlet-class>com.revature.login.ChangeAccount</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>switchAccount</servlet-name>
  	<url-pattern>/changeAccount</url-pattern>
  </servlet-mapping>
  
</web-app>