<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>BankWebApp</display-name>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.revature.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginAdmin</servlet-name>
		<servlet-class>com.revature.servlet.LoginAdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewUser</servlet-name>
		<servlet-class>com.revature.servlet.NewUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewUserAdmin</servlet-name>
		<servlet-class>com.revature.servlet.NewUserAdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditUser</servlet-name>
		<servlet-class>com.revature.servlet.EditUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>com.revature.servlet.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OpenAccount</servlet-name>
		<servlet-class>com.revature.servlet.OpenAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CloseAccount</servlet-name>
		<servlet-class>com.revature.servlet.CloseAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateAccount</servlet-name>
		<servlet-class>com.revature.servlet.UpdateAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Deposit</servlet-name>
		<servlet-class>com.revature.servlet.DepositServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Withdraw</servlet-name>
		<servlet-class>com.revature.servlet.WithdrawServlet</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginAdmin</servlet-name>
		<url-pattern>/LoginAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewUser</servlet-name>
		<url-pattern>/NewUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewUserAdmin</servlet-name>
		<url-pattern>/NewUserAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUser</servlet-name>
		<url-pattern>/EditUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OpenAccount</servlet-name>
		<url-pattern>/OpenAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CloseAccount</servlet-name>
		<url-pattern>/CloseAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateAccount</servlet-name>
		<url-pattern>/UpdateAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deposit</servlet-name>
		<url-pattern>/Deposit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Withdraw</servlet-name>
		<url-pattern>/Withdraw</url-pattern>
	</servlet-mapping>
</web-app>