<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ReimbursementProjectNew</display-name>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.revature.servlets.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/front</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Authenticate</display-name>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>com.revature.servlets.Authenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticate</servlet-name>
    <url-pattern>/authenticate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.revature.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitRequest</display-name>
    <servlet-name>SubmitRequest</servlet-name>
    <servlet-class>com.revature.servlets.SubmitRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitRequest</servlet-name>
    <url-pattern>/subReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeProfile</display-name>
    <servlet-name>UpdateEmployeeProfile</servlet-name>
    <servlet-class>com.revature.servlets.UpdateEmployeeProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeProfile</servlet-name>
    <url-pattern>/updateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageReims</display-name>
    <servlet-name>ManageReims</servlet-name>
    <servlet-class>com.revature.servlets.ManageReims</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageReims</servlet-name>
    <url-pattern>/manReims</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>RegisterNewEmployee</display-name>
    <servlet-name>RegisterNewEmployee</servlet-name>
    <servlet-class>com.revature.servlets.RegisterNewEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterNewEmployee</servlet-name>
    <url-pattern>/regNewUser</url-pattern>
  </servlet-mapping>
</web-app>